.maindiv {
  position: relative;
  
  padding: 0;
  margin: 0;
  /* background-color: yellow; */
  justify-content: center;
  padding-bottom: 2rem;
  margin-left: 1rem;
}
.headingdiv {
  margin: 0;
  padding: 2rem;
  display: flex;
  position: fixed;
  
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  align-items: center;
  


  background-color: white; 
  width: 100%;
}

.headingtext {
  font-size: 3rem;
  font-weight: 100;
}


.filterandmachinesdiv{
  /* background-color: orange; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 3rem;
  padding-top: 12rem;



}
.machinelayoutdiv {

  color: black;
  display: grid;
  /* gap: 1.5rem; */
  gap: 0;
  grid-template-columns: 15rem 15rem ;
  padding: 3rem;
height: fit-content;
  justify-content: left;
  width: 50rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  z-index:0;
 box-shadow: 10px 10px 5px rgb(211, 210, 210);
 border-radius: 5%;
  
}

.line1{
  /* background-color: rgb(172, 172, 164); */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
  padding: 1rem;
  justify-content: center;
  height: 5rem;
    border: 1px dashed black;
    width: fit-content;
    border-radius: 5px;
    
}

.line2{
  /* background-color: green; */
   display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
    height: 5rem;
      border: 1px dashed black;
      width: fit-content;
      border-radius: 5px;
}

.line3{
  position: relative;
  /* background-color: sienna; */
  grid-row: span 2;
  display: grid;
grid-template-columns:50% 50%;
  gap: .2rem;
width: 12rem;
  
  border: 1px dashed black;
  padding: 1rem;
  border-radius: 5px;
  /* margin-left:30rem; */
}

.commonmachineproperties{
  border: 2px rgb(203, 203, 203) solid;
display: grid;
width: 5rem;
height: 5rem;
font-weight: 500;
gap: 0;
position: relative;
border-radius: 5px;
/* border-radius: ; */


}

.commonmachineproperties:hover{

   border: 2px solid rgb(0, 98, 255);
   /* box-shadow: 2px 2px 2px rgb(0, 0, 0); */

}

.lastline3machine{
  width: 11.3rem;
}

.checkbox{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  z-index: 0;

}


.commonmachinename{
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}





.filtermaindiv{
  /* background-color: rebeccapurple; */
  display: grid;
   border-top: 1px solid black;
   border-right: 1px solid black;
   padding:3rem;
   padding-bottom: 1rem;
   padding-top: 1rem;
  box-shadow: -10px 10px 5px rgb(211, 210, 210);
 border-radius: 5%;
 width: 40rem;
 height: fit-content;
}


.differentgraphs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* background-color: orange; */
justify-content:center;
align-items: center;
padding-left: 2rem;
margin-top: 2rem;
margin-bottom: 2rem;
 
}



.singlegraphdiv{
  position: relative;
  /* background-color: red; */
  width: fit-content;
  border: 1px dotted black;
  padding: 1rem;

}
.graphcheckbox{
  position: absolute;
  top: 0;
  right: 0;

}

.mainbuttondiv{
  display: grid;
 
  grid-template-columns: 15rem 15rem ;

  justify-content: center;
  gap: 2rem;
  /* align-items: center; */

}

.tabs{
  background-color: red;
  width: 100%;
}
/* .machinelayoutdiv{
grid-column: span 3;

} */

.dateandtimemaindiv{
  display: grid;
  
  grid-template-columns: 20rem 10rem 10rem ;
  gap: 1rem;
  border-bottom: .3px solid black;
  padding-bottom: .3rem;
}

#date-filter{

  width: 100%;
}


.datemaindiv, .startimemaindiv, .endtimemaindiv{
  display: grid;
  /* background-color: red; */
  text-align: center;
  gap: .3rem;
  font-size: 1.2rem;
  font-weight: 100;

  justify-content: center;
}

.throughputandgraphmaindiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: space-between;
 
  text-align: center;
   /* border-bottom: 3px solid red; */
   margin-top: 1rem;
   padding-bottom: .3rem;

  border-bottom: .4px solid black;
   
}


.dropvaluesmaindiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1rem;
   font-size: 1.2rem;
  font-weight: 100;

  border-bottom: .3px solid black;
  padding-bottom: .1rem;
}


.throughput_interval_main_div, .graphcontentmaindiv{
  display: grid;
  gap: .3rem;
     font-size: 1.2rem;
  font-weight: 100;
  
}

.tabsmaindiv{
  margin-top: 2rem;
}